<header class="site-header" th:fragment="siteHeader">
  <nav class="navbar navbar-expand-lg site-navbar">
    <div class="container">

      <a class="navbar-brand site-logo" href="/">
        <span class="site-logo-mark">TM</span>
        <span>Travel Money</span>
      </a>

      <button class="navbar-toggler site-navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#siteNavbar"
              aria-controls="siteNavbar"
              aria-expanded="false"
              aria-label="메뉴 열기">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="siteNavbar">
        <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">

          <li class="nav-item">
            <a class="nav-link" href="/flights/search">
              항공권
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/flights/routes">
              노선보기
            </a>
          </li>
          <li class="nav-item">
          <a href="/flights/lowest-prices">최저가 비교</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/exchange">
              환율
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/travel/travel-timing">
              여행 시기 추천
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/events">
              이벤트
            </a>
          </li>

          <li class="nav-item ms-lg-3">
            <a class="btn site-header-button" href="/flights/search">
              항공권 검색하기
            </a>
          </li>

        </ul>
      </div>

    </div>
  </nav>
</header>